pipeline/PL_Ingestion_Gold.json
{
	"name": "PL_Ingestion_Gold",
	"properties": {
		"activities": [
			{
				"name": "ForEach",
				"description": "To iterate the filenames",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.Filenames",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Set Load Begin Date",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "loadBeginDate",
								"value": {
									"value": "@formatDateTime(utcNow())",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Notebook1",
							"type": "DatabricksNotebook",
							"dependsOn": [
								{
									"activity": "Set Load Begin Date",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": {
									"value": "@concat('/Shared/Project1/Silver/',item())",
									"type": "Expression"
								},
								"baseParameters": {
									"file_name": {
										"value": "@concat(item(),'.csv')",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Set End Date on Success",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Notebook1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "Load End Date",
								"value": {
									"value": "@formatDateTime(utcNow())",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set End Date on failure",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Notebook1",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "Load End Date",
								"value": {
									"value": "@formatDateTime(utcNow())",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Stored procedure update on Success",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Set End Date on Success",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[Audit_Table_Sp]",
								"storedProcedureParameters": {
									"file_name": {
										"value": {
											"value": "@concat(item(),'.csv')",
											"type": "Expression"
										},
										"type": "String"
									},
									"Layer": {
										"value": {
											"value": "Gold_Layer",
											"type": "Expression"
										},
										"type": "String"
									},
									"load_Begin_Td": {
										"value": {
											"value": "@variables('loadBeginDate')",
											"type": "Expression"
										},
										"type": "String"
									},
									"Load_End_Td": {
										"value": {
											"value": "@variables('Load End Date')",
											"type": "Expression"
										},
										"type": "String"
									},
									"Message": {
										"value": {
											"value": "Success",
											"type": "Expression"
										},
										"type": "String"
									},
									"Pipeline_Name": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							}
						},
						{
							"name": "Stored procedure update on Failure",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Set End Date on failure",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[Audit_Table_Sp]",
								"storedProcedureParameters": {
									"file_name": {
										"value": {
											"value": "@concat(item(),'.csv')",
											"type": "Expression"
										},
										"type": "String"
									},
									"Layer": {
										"value": {
											"value": "Gold_Layer",
											"type": "Expression"
										},
										"type": "String"
									},
									"load_Begin_Td": {
										"value": {
											"value": "@variables('loadBeginDate')",
											"type": "Expression"
										},
										"type": "String"
									},
									"Load_End_Td": {
										"value": {
											"value": "@variables('Load End Date')",
											"type": "Expression"
										},
										"type": "String"
									},
									"Message": {
										"value": {
											"value": "'Failed in Gold Layer'",
											"type": "Expression"
										},
										"type": "String"
									},
									"Pipeline_Name": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"Filenames": {
				"type": "array",
				"defaultValue": [
					"OrderList",
					"FreightRates",
					"PlantPorts",
					"ProductsPerPlant",
					"WhCost",
					"WhCapacities",
					"VmiCustomers"
				]
			}
		},
		"variables": {
			"loadBeginDate": {
				"type": "String"
			},
			"Load End Date": {
				"type": "String"
			}
		},
		"folder": {
			"name": "project"
		},
		"annotations": [],
		"lastPublishTime": "2023-02-25T14:36:58Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}